
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #99acc8;
  }
  
  .leaderboard-container {
    max-width: 800px;
    margin: 50px auto;
    background: linear-gradient(to bottom, #6f42c1, #4a148c);
    color: #6f42c1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .leaderboard-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff; 
  }
  
  .ant-table {
    border-radius: 8px;
  }
  
  .ant-table-thead > tr > th {
    background-color: #6f42c1; 
    color: #fff; 
  }
  
  .ant-table-tbody > tr > td {
    background-color: #fff; 
    color: #6f42c1; 
  }
  
  .ant-pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  @media screen and (max-width: 767px) {
    .leaderboard-container {
      padding: 10px;
    }
  }
  
