/* src/components/Loader.css */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('darkbg.avif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db; /* Blue top border */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
#font1{
  margin-left:1%;
  color:white;
}
